p {
    font-family: Arial;
}
.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin: 0;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin: 5px 0 0 0;
}

.channel-name {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin: 20px 0 0 0;
}

.description {
    width: 280px;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin: 18px 0 0 0;
    line-height: 20px;
}

.apple-text {
    margin: 50px 0 1000px 0;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 18px 40px;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}